<h1>About Modular Village</h1>
<br />
<h4>A better world is within our reach.</h4>

<p>Together, we have the skill, talent, and passion it takes to build a sustainable future. Modular Village connects people who share a common community vision to plan and execute their vision. A modular village a real-life community built from a set of open-source specifications, design plans, and legal frameworks. All are welcome to take part in any project. If you have ever wanted to grab a piece of the world and make it better, Modular Village is the place for you.</p>
<br />
<h4>How does it work?</h4> 
<p>Anyone can set up a proposal for a new community (called a "community specification"). A community specification includes a description of the characteristics of a community. Users submit links under each characteristic that are useful for accomplishing that characteristic.</p><p>For instance, say I wanted to build a solar energy farm. I would set up a new specification on Modular Village--made up of a set of characteristics. One might be that it would require 30 acres at an elevation of over 5000 feet with an average of at least 300 sunny days per year, and the price would need to be under $20,000 per acre. Anyone reading might be able to offer a helpful suggestion for acquiring such a piece of land. Maybe someone even knows the perfect location! </p><p>Another characteristic might be that all facilities achieve a certain level of energy-efficiency. Users might submit links and comments depicting particular energy-efficient designs for the project.</p><p>All the while, users are voting particular comments up or down, which separate the wheat from the chaff. The most helpful suggestions rise to the top.</p><p>As the project moves ahead, the links continue to build. With the knowledge gained through community feedback, the community specification grows and becomes more defined. Eventually, plans are in place for an entirely new open-source community--a new modular village. These plans are non-proprietary, which means anyone is free to implement them.</p>
 <br /> 
<h4>Would you like to manufacture energy, consumer goods, or new medicines, but lack like-mind individuals, money, and tools required?
</h4>
<p>Connect and plan at Modular Village.</p>
<br />
<h4>Is it your dream to serve at a community clinic or shelter?
</h4> 
<p>Find the means to do so here.</p>
<hr>
<div class="span2"><%= image_tag("open-source.png", :alt => "open source") %>
</div>
<div class="span6"><h2>Modular Village is not Complete</h2>
    <p>We need your help making this open-source project a reality. Marketers, subject-matter experts (such as scientists, architects, engineers, and civil servants), startup mentors, designers, developers, and anyone who is passionate about the project, <%=link_to "sign up here", "#"%> to help develop this exciting open-source application. </p>
    <p>Developers, check out our <%=link_to "github repository.", "https://github.com/m8ker/modular_village"%></p>
</div>

