<header><h1>About Modular Village</h1></header>
<br />
<article><header><h4>Design Together</h4></header>

  <section><p><em class="large_em">Together, we have the skill, talent, and passion it takes to build a sustainable future. Modular Village helps people who share a common project vision to design their project collaboratively. DIY communities have already changed the world by sharing their individual projects. Modular village is a way for DIYers--professionals and laypeople--from all walks of life to come together on larger, more complex projects.</em></p>
  <br />
  <h4>What does Modular Village actually do?</h4>
  <p>Project planning is by nature a collaborative process. Modular Village harnesses the power of open source to generate high-quality, low-cost project research, design, and specification documents.
    <ul><li>the problem the project is attempting to address</li><li>examples of other successful projects addressing similar problems</li><li>research and design</li></ul> The app helps anyone define, plan, and design projects collaboratively. Project designs, plans, and specifications are retained in the Modular Village archive for anyone to access and build upon.</p>
  <h4>How does it work?</h4> 
  <p>Anyone can set up a project proposal. All it takes is a title and a description. Want to build a farm? Describe your vision. Want to make your urban condominium off-the-grid? What do you have so far? Fill in everything that you know about the project--the project vision, the steps involved, the materials, the budget, the human resources, etc. Also communicate your needs--the weak points in your project plan.</p>
  <p>Now comes the fun part. Hit the "publish" button and open up your project to the design intelligence of the open-source community. These are everyday people who are excited about your project vision and want to see it become a reality. They may want to build the project themselves, or "fork" it so they can cater it to their own needs.</p>
   <br /> 
  <h4>Would you like to manufacture energy, consumer goods, or medicines, but lack like-mind individuals, money, and tools required?
  </h4>
  <p>Connect and plan at Modular Village.</p>
<section>
</article>
<!-- <hr>
<div class="span2"><%= image_tag("open-source.png", :alt => "open source") %>
</div>
<article class="span6"><header><h2>Modular Village is not Complete</h2></header>
    <section><p>We need your help making this open-source project a reality. Marketers, subject-matter experts (such as scientists, architects, engineers, and civil servants), startup mentors, designers, developers, and anyone who is passionate about the project, <%=link_to "sign up here", "#"%> to help develop this exciting open-source application. </p>
    <p>Developers, check out our <%=link_to "github repository.", "https://github.com/m8ker/modular_village"%></p></section>
</article> -->

