<h1>About Modular Village</h1>
<hr>
<div class="subhead2">A better world is within our reach.
</div>

<p>The skill, talent, and passion required to build a sustainable future already exist--in the minds of our neighbors. Modular Village connects people who share a common dream, and who wish to make their dream a reality. Help build an open-source future.</p>
<br />
<div class="subhead2">Want sell your car and live on a farm with a carbon footprint of zero?
</div> 

<p>Don't wait around for the opportunity to present itself. Make it happen.</p>
 <br /> 
<div class="subhead2">Would you like to manufacture energy, consumer goods, or new medicines, but lack like-mind individuals, money, and tools required?
</div>
<p>Connect and plan at Modular Village.</p>
<br />
<div class="subhead2">Is it your dream to serve at a community clinic or shelter?
</div> 
<p>Find the means to do so here.</p>
<hr>
<div class="span2"><%= image_tag("open-source.png", :alt => "open source") %>
</div>
<div class="span6"><h2>Modular Village is not Complete</h2>
    <p>We need your help making this open-source project a reality. Marketers, subject-matter experts (such as scientists, architects, engineers, and civil servants), startup mentors, designers, developers, and anyone who is passionate about the project, <%=link_to "sign up here", "#"%> to help develop this exciting open-source application. </p>
    <p>Developers, check out our <%=link_to "github repository.", "https://github.com/m8ker/modular_village"%></p>
</div>

