<div style="text-align: center; margin-top: 30px">
  <%= image_tag("modular_village_logo_slogan.png", :alt => "modular village logo", :style => "width: 600px") %>
  <hr>
</div>
<div class="row header" style="text-align: center;">
  <h1 >Calling all Utopians</h1>
  <p>Help build the perfect community with Modular Village. Together, we can redesign the world for the better.</p>
</div>

