<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
    <% @projects.each do |project| %>
        <h2><%= link_to project.title, project_path(project) %></h2>
        <p><%= project.description %></p>
    <% end %>

<br />
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
